
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Staff Allocated </h1>
    <p>
      Patient <%= @patient.first_name  + " " +  @patient.family_name %>, 
      has been allocated to you. please assist them accordingly
    </p>
  </body>
</html>